<div th:fragment="content" class="container mt-5">
    <div class="row justify-content-center">
        <div class="justify-content-center mt-2 px-2 bg-warning text-white text-center text-wrap"
             th:if="${loggedUserEmail == null}">

            <p class="text-cemter pt-3 text-strong"> Proszę się zalogować, aby dodawać nowe zguby.</p>
        </div>

        <div class="col-md-6" th:if="${loggedUserEmail}">
            <h2 class="text-center" style="color: #074dcf;">Zgłaszanie zguby</h2>

            <form th:action="@{/request/submitted}" th:object="${requestToAdd}" method="post">
                <div class="form-group mt-3">
                    <label for="name">Nazwa:</label>
                    <input type="text" class="form-control border-2" id="name" name="name" required maxlength="100"
                           onfocusout="this.value = this.value.trim()" th:field="*{objectName}">
                </div>

                <div class="form-group mt-3">
                    <label for="description">Opis:</label>
                    <textarea class="form-control border-2" id="description" name="description" rows="3" required maxlength="255"
                              th:field="*{description}"
                    ></textarea>
                </div>

                <div class="form-group mt-3">
                    <label for="lostOrFound">Status:</label>

                    <select class="form-control border-2" name="lostOrFound" id="lostOrFound">
                        <option value="LOST" th:selected="*{lostOrFound == 'Zgubione'}">Zgubiłem</option>
                        <option value="FOUND" th:selected="*{lostOrFound == 'Znalezione'}">Znalazłem</option>
                    </select>

                </div>


                <div class="form-group mt-3">
                    <label for="requestDate">Data:</label>
                    <input type="date" class="form-control border-2" id="requestDate" name="requestDate"
                           min='1899-01-01' max='2000-13-13' required th:value="*{requestDate}">
                </div>

                <script>
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth()+1; //January is 0!
                    var yyyy = today.getFullYear();
                     if(dd<10){
                            dd='0'+dd
                        }
                        if(mm<10){
                            mm='0'+mm
                        }

                    today = yyyy+'-'+mm+'-'+dd;
                    document.getElementById("requestDate").setAttribute("max", today);
                </script>

                <div class="form-group mt-3">
                    <label for="city">Miasto:</label>
                    <input type="text" title="Minimum 2 litery, maksymalnie 30" pattern=".{2,30}" maxlength="30"
                           class="form-control border-2" id="city" name="city" required
                           onfocusout="this.value = this.value.trim()" th:field="*{city}">
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-dark py-2 p-5">Wyślij zgłoszenie</button>
                </div>
            </form>
        </div>
    </div>
</div>



