<div th:fragment="content" class="container-fluid">
    <div class="col-xs-1" align="center">
        <h1>Requests:</h1>
    </div>

    <div class="col-xs-1" align="center" th:each="request : ${allRequests}">
        User: <span th:text="${request.requesterLogin}"></span><br>
        Object: <span th:text="${request.objectName}"></span> - <span th:text="${request.lostOrFound}"></span><br>
        Description: <span th:text="${request.description}"></span><br>
        Date: <span th:text="${request.requestDate}"></span><br>
        City: <span th:text="${request.city}"></span><br>
        ----------
    </div>

    <div class="col-xs-1" align="center">
        <a href="/request/add" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Add request</a>
        <a href="/" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Back to menu</a>
    </div>
</div>
