<div th:fragment="content" class="container mt-5 mb-5 ">

    <div class="text-center" th:if="${loggedUserEmail != 'ADMIN@ADMIN'}">
        <h2 style="color: #074dcf;">Zgłoszenia</h2>
        <span th:if="${loggedUserEmail != null}">
            <a th:href="@{/request/mineRequests}" class="btn btn-primary btn-sm py-0 mx-2"> Pokaż moje zguby </a>
            <a th:href="@{/request/all}" class="btn btn-primary btn-sm py-0 mx-2"> Pokaż wszystkie </a>
        </span>
    </div>

    <div class="alert alert-info mb-3 p-1" role="alert" th:if="${String != null}">
        <div>
            <p class="ps-3 mb-0">Lista została pofiltrowana po słowie: ''<strong th:text="${String}"></strong>''</p>
            <p class="ps-3 mb-0">Znalezionio pozycji:  <strong th:text="${Integer}"></strong>
                <a th:href="@{/request/all}" class="btn btn-secondary btn-sm py-0 mx-2"> Pokaż wszystkie </a>
            </p>
        </div>
    </div>

    <table class="table table-striped mt-1">
        <thead class="table-dark text-center">
        <tr>
            <th class="text-center">Data zgłoszenia</th>
            <th class="text-center">Miasto</th>
            <th class="text-center">Rodzaj zgłoszenia</th>
            <th class="text-center">Nazwa przedmiotu</th>
            <th class="text-center">Opis</th>
            <th class="text-center">Adres e-mail</th>
            <th class="text-center">Numer telefonu</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${allRequests}">
            <td class="text-center" th:text="${request.requestDate}"></td>
            <td class="text-center" th:text="${request.city}"></td>
            <td class="text-center m-0 p-0" style="width: 200px">
                <div th:if="${request.lostOrFound.text =='Znalazłem'}">
                    <i class="bi bi-puzzle-fill" style="font-size: 1.5rem; color: DodgerBlue ;"></i>
                    <p class="text-strong mb-0" style="font-size: 12px">ZNALAZŁEM</p>
                </div>
                <div th:if="${request.lostOrFound.text =='Zgubiłem'}">
                    <i class="bi bi-puzzle" style="font-size: 1.5rem; color: DodgerBlue ;"></i>
                    <p class="text-strong mb-0" style="font-size: 12px">ZGUBIŁEM</p>
                </div>
            </td>
            <td class="text-center" th:text="${request.objectName}"></td>
            <td class="text-center" th:text="${request.description}"></td>
<!--            <td class="text-center" th:text="${request.user.loginEmail}"></td>-->
            <td class="text-center" style="width: 200px">
                <span th:text="${request.user.loginEmail}">  </span>
                <a th:href="'mailto:' + ${request.user.loginEmail}">
                    <i class="bi bi-envelope-fill" style="color: #000;"></i>
                </a>
            </td>
            <td class="text-center" style="width: 150px">
                <span th:text="${request.user.contactNumber}">  </span>
            </td>

        </tr>
        </tbody>
    </table>

</div>
