<div th:fragment="content" class="container mt-5 mb-5 ">
<!--container-fluid row justify-content-center">-->
    <div>
        <h2 class="text-center" style="color: #074dcf;">Zgłoszenia</h2>
    </div>

    <table class="table table-striped mt-5">
        <thead class="table-dark text-center">
        <tr>
            <th class="text-center">Rodzaj zgłoszenia</th>
            <th class="text-center">Nazwa przedmiotu</th>
            <th class="text-center">Dokładny opis przedmiodu</th>
            <th class="text-center">Data zgłoszenia</th>
            <th class="text-center">Miasto</th>
            <th class="text-center">Adres e-mail</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${allRequests}">
            <td class="text-center" th:text="${request.lostOrFound}"></td>
            <td class="text-center" th:text="${request.objectName}"></td>
            <td class="text-center" th:text="${request.description}"></td>
            <td class="text-center" th:text="${request.requestDate}"></td>
            <td class="text-center" th:text="${request.city}"></td>
            <td class="text-center" th:text="${request.requesterLogin}"></td>

        </tr>
        </tbody>
    </table>


    <!--    <div class="col-xs-1" align="center">-->
    <!--        <a href="/request/add" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Add request</a>-->
    <!--        <a href="/" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Back to menu</a>-->
    <!--    </div>-->
</div>
