<div th:fragment="content" class="col-xs-1 py-2 mb-0 mt-5 text-center d-flex justify-content-center">
    <div class="col-md-3">
        <h2 class="text-center" style="color: #074dcf;">Szukaj zguby</h2>

        <form th:action="@{/request/search}" th:object="${searchWord}" method="post">

            <div class="form-group mt-3">
                <label class="d-flex justify-content-start" for="szukaj">Wpisz szukaną frazę:</label>
                <input type="text" title="Minimum 2 litery, maksymalnie 30" pattern=".{2,30}"
                       class="form-control border-2" id="szukaj" name="city" required th:field="*{searchWord}">
            </div>

            <div class="justify-content-center mt-3 text-center">
                <input type="submit" class="btn btn-dark py-2 p-5" th:value="Szukaj">
            </div>

        </form>

    </div>
</div>