<div th:fragment="content" class="col-xs-1 py-2 mb-0 mt-5 text-center d-flex justify-content-center">
    <div class="col-md-3">
        <h2 class="text-center" style="color: #074dcf;">Logowanie</h2>
        <form th:action="@{/user/login}" th:object="${userDto}" method="post">
            <div class="form-group mt-3 ">
                <label class="d-flex justify-content-start" for="email">Login (e-mail):</label>
                <input type="email" class="form-control border-2" id="email" name="email" required th:field="*{login}">
            </div>

            <div class="form-group mt-3">
                <label class="d-flex justify-content-start" for="password">Hasło:</label>
                <input type="password" class="form-control border-2" id="password" name="password" required
                       th:field="*{password}">
            </div>
            <div class="justify-content-center mt-3 text-center">
                <input type="submit" class="btn btn-dark py-2 p-5" th:value="Zaloguj">
            </div>
        </form>


        <div class="justify-content-center mt-4 p-2 bg-danger text-white text-center text-wrap"
             th:if="${showError == true}">
            <p class="text-cemter mt-2"> Nieprawidłowy login lub hasło. Spróbuj ponownie.</p>
        </div>

        <div class="py-5 text-center">

            <span class="text-center">Nie masz konta?</span>
            <a th:href="@{/user/register}" class="btn btn-secondary py-2">Zarejestruj się</a>

        </div>
    </div>
</div>