<div th:fragment="content"  class="col-xs-1 py-2 mb-0 text-center">
    <h1>Register</h1>
    <form th:action="@{/api/user/register}" th:object="${userToAdd}" method="post">
        <p>Name: <input title="3-20 chars" type="text" pattern=".{3,20}" required onfocusout="this.value = this.value.trim()" th:field="*{name}"></p>

        <p>Email: <input title="email format is needed" type="text" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required onfocusout="this.value = this.value.trim()" th:field="*{loginEmail}"></p>

        <p>Password: <input type="password" required onfocusout="this.value = this.value.trim()" th:field="*{password}"></p>

        <p>City: <input type="text" title="3-20 chars" pattern=".{3,20}" required onfocusout="this.value = this.value.trim()" th:field="*{city}"></p>

        <p>Contact number: <input type="text" title="only 9 numbers" pattern="[0-9]{9}" required onfocusout="this.value = this.value.trim()" th:field="*{contactNumber}"></p>

        <br>
        <div><input type="submit" th:value="Submit"></div>

        <div class="d-flex justify-content-center">
            <span th:if="${showError == true}">
                <p> Something went wrong, try again. </p>
            </span>
        </div>

    </form>
</div>