
<div th:fragment="content" class="col-xs-1" align="center">
    <h1>Added to database:</h1>
    <p th:text="'Login: ' + ${request.requesterLogin}"></p>
    <p th:text="'Lost or Found: ' + ${request.lostOrFound}"></p>
    <p th:text="'Description: ' + ${request.description}"></p>
    <p th:text="'Date: ' + ${request.requestDate}"></p>
    <p th:text="'City: ' + ${request.city}"></p>

    <a href="/request/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add another request</a>
    <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back to menu</a>
</div>
