<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Result</h1>
    <p th:text="'Login: ' + ${request.requesterLogin}"></p>
<!--    <p th:text="'Login: ' + ${requestToAdd.requesterLogin}"></p>-->
<!--    <p th:text="'Lost or Found: ' + ${lostOrFound}"></p>-->
<!--    <p th:text="'Lost or Found: ' + ${requestToAdd.lostOrFound}"></p>-->
<!--    <p th:text="'Login: ' + ${requestToAdd}"></p>-->
<!--    <p th:text="'Login: ' + ${requestToAdd.requesterLogin}"></p>-->
<!--    <span th:text="${requestToAdd.requesterLogin}"></span>-->
<!--    <p th:text="'Name: ' + ${objectName}" />-->
<!--    <p th:text="'Desc: ' + ${description}" />-->
<!--    <p th:text="'City: ' + ${city}" />-->
    <a href="/api/request/add">Add another request</a>
</body>
</html>