<table class="table table-striped mt-5 table-fixed">
    <thead class="table-dark text-center">
    <tr>
        <th class="text-center">Nazwa narzędzia</th>
        <th class="text-center">Rozmiar</th>
        <th class="text-center">Jednostka</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="tool : ${tools}">
        <td class="text-center" th:text="${tool.name}"></td>
        <td class="text-center" th:text="${tool.toolSize.size}"></td>
        <td class="text-center" th:text="${tool.toolSize.unit}"></td>

    </tr>
    </tbody>
</table>