<div th:fragment="content" class="container mt-5 mb-5 " xmlns="http://www.w3.org/1999/html">
    <section id="start" class="d-flex align-items-center">
        <div class="container position-relative">
            <div class="row">

                <div class="text-center">
                    <h2 style="color: #074dcf;">Twoje zgłoszenia</h2>
                    <span>
                    <a th:href="@{/user/panel}" style="color:inherit; text-decoration:none;">
                        <button type="button" class="btn btn-outline-secondary mb-1">
                            <i class="bi bi-unindent" style="font-size: 1.2rem;"></i>
                            <span> Wróć do panelu użytkownika</span>
                        </button>
                    </a></span>
                </div>

                <div th:if="${deletedRequest}" class="alert alert-danger alert-dismissible fade show m-auto my-2"
                     role="alert" style="width:900px;">
                    <span>Zguba: '<span class="text-strong" th:text="${deletedRequest}"></span>' została
                        usunięta ze zgłoszeń.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            style="background: none; border: none; outline: none; text-decoration: underline;">
                        <i class="bi bi-x-square-fill"></i>
                    </button>

                </div>

                <div th:if="${showModifyRequestInformation}" class="alert alert-warning alert-dismissible fade show m-auto my-2"
                     role="alert" style="width:900px;">
                    <span>Zgłoszenie dotyczące '<span class="text-strong" th:text="${showModifyRequestInformation}"></span>'
                        zostało zmodyfikowane.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            style="background: none; border: none; outline: none; text-decoration: underline;">
                        <i class="bi bi-x-square-fill"></i>
                    </button>

                </div>

                <div class="fixed-header-table-container m-auto">
                    <table class="table table-striped table-bordered mt-1">
                        <thead class="table-dark text-center">
                        <tr class="fixed-header-table">
                            <th class="text-center">Data zgłoszenia</th>
                            <th class="text-center">Miasto</th>
                            <th class="text-center">Nazwa przedmiotu</th>
                            <th class="text-center">Opis</th>
                            <th class="text-center">Rodzaj zgłoszenia</th>
                            <th class="text-center">AKCJA</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request : ${myRequests}">
                            <td class="text-center" style="width: 50px" th:text="${request.requestDate}"></td>
                            <td class="text-center" style="width: 120px" th:text="${request.city}"></td>
                            <td class="text-center" style="width: 15%" th:text="${request.objectName}"></td>
                            <td class="text-center" style="width: 40%"th:text="${request.description}"></td>
<!--                            style="width: 70px">-->
                            <td class="text-center py-2" style="width: 60px">
                                <div th:if="${request.lostOrFound.text =='Zgubione'}">
                                    <i class="bi bi-puzzle-fill" style="font-size: 1.5rem; color: DodgerBlue ;"></i>
                                    <p class="text-strong mb-0" style="font-size: 12px">ZNALAZŁEM</p>
                                </div>
                                <div th:if="${request.lostOrFound.text =='Znalezione'}">
                                    <i class="bi bi-puzzle" style="font-size: 1.5rem; color: DodgerBlue ;"></i>
                                    <p class="text-strong mb-0" style="font-size: 12px">ZGUBIŁEM</p>
                                </div>
                            </td>


                            <td class="text-center py-4"  style="width: 160px">
                                <a th:href="@{/user/panel/myrequests/modify/{requestId}(requestId=*{request.requestId})}"
                                   class="btn btn-outline-warning btn-sm my-0">
                                    EDYTUJ
                                </a>

                                <a th:href="@{/user/panel/myrequests/delete/{requestId}(requestId=*{request.requestId})}"
                                   class="btn btn-outline-danger btn-sm mb-0"
                                   onclick="if (!(confirm('Czy potwierdzasz usunięcie zgłoszenia?'))) return false">
                                    USUŃ
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


</div>
