<div th:fragment="content" class="container pb-5 mb-5">
    <div class="section-title">
        <h2 style="color: #074dcf;">Panel użytkownika</h2>
    </div>
    <div class="row pb-5">
        <div class="col-lg-4 col-md-12 mb-2 pb-4 ">
            <button type="button" class="btn btn-secondary option_box ">
                <h4>Moje zguby</h4>
                <p>Przeglądaj swoje zgłoszenia odnośnie zagubionych oraz znalezionych przedmiotów.</p>
            </button>

        </div>
        <div class="col-lg-4 col-md-12 mb-4 pb-4 ">

            <button type="button" class="btn btn-secondary option_box">
                <h4>Moje</h4>
                <p>Przeglądaj swoje zgłoszenia odtów.</p>
            </button>

        </div>
        <div class="col-lg-4 col-md-12 mb-0 pb-4 ">
            <button type="button" class="btn btn-secondary option_box">
                <h4 style="color: #ab3d3d"> Usuń konto</h4>
                <p>Jeżeli na prawdę tego chcesz.</p>
            </button>

        </div>

    </div>
</div>